.App {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#light {
  background-color: white;
}

#dark {
  background-color: rgb(34, 31, 47);
}

body {
  margin: 0;
  padding: 0;
}

.switch {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

.switch label {
  margin: 10px;
}

#light .switch label {
  color: black;
}

#dark .switch label {
  color: white;
}

.container {
  width : 90%;
  margin: -29% 3% -47% 3%;
  padding-bottom: 7%;
}

.h1 {
  color: white;
  font-size: 2rem;
  width: 100%;
}

#light .h1 {
  color: black;
}

.h2 {
  color: white;
  font-weight: 100;
  font-size: 1rem;
}

#light .h2 {
  color: black;
}

.h3 {
  color: white;
  font-size:3.5rem;
  margin-top: 0rem;
}

#light .h3 {
  color: black;
}

.h4 {
  font-weight: 400;
  font-size: 0.75rem;
  color: #1EB589;
  margin-left: 0.25rem;
}


.h5 {
  font-weight: 400;
  font-size: 0.75rem;
  color: #DC414C;
  margin-left: 0.25rem;
}


.h6 {
  color: white;
  font-size:2.5rem;
}

#light .h6 {
  color: black;
}

.p {
  color: white;
  font-weight: 100;
  font-size: 1rem;
  margin-top: -4rem;
}

#light .p {
  color: black;
}

.tableausocial {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "fb tw ig yt";
}

.socialfacebook {
  grid-area: fb;
  background-color: rgb(49, 45, 69);
  margin: 1rem 0.5rem 0rem 0rem;
  padding: 1.5rem;
  text-align: center;
  border-top: #3b5998 4px solid;
}

#light .socialfacebook {
  background-color: rgb(231, 231, 231);;
}

.socialtwitter {
  grid-area: tw;
  background-color: rgb(49, 45, 69);
  margin: 1rem 0.5rem 0rem 0.5rem;
  padding:1.5rem;
  text-align: center;
  border-top: rgb(29, 155, 240) 4px solid;
}

#light .socialtwitter {
  background-color: rgb(231, 231, 231);
}


.socialinstagram {
  grid-area: ig;
  color: white;
  background-color: rgb(49, 45, 69);
  margin: 1rem 0.5rem 0rem 0.5rem;
  padding:1.5rem;
  text-align: center;
  border-top: #FFDC80 4px solid;
}

#light .socialinstagram {
  color: black;
  background-color: rgb(231, 231, 231);
}

.socialyoutube {
  grid-area: yt;
  color: white;
  background-color: rgb(49, 45, 69);
  margin: 1rem 0rem 0rem 0.5rem;
  padding:1.5rem;
  text-align: center;
  border-top: red 4px solid;
}

#light .socialyoutube {
  color: black;
  background-color: rgb(231, 231, 231);
}

.iconFb {
  width:15%;
  height:15%;
  margin-right: 5%;
}

.iconTw {
  width:15%;
  height:15%;
  margin-right: 5%;
}

.iconIg {
  width:15%;
  height:15%;
  margin-right: 5%;
}

.iconYt {
  width:15%;
  height:15%;
  margin-right: 5%;
}

.flexsocial {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ovpgtwitter {
  grid-area: ovpgtw;
  color: white;
  background-color: rgb(49, 45, 69);
  margin: 10% 4% 0% 0%;
  padding:10%;
  text-align: center;
}

#light .ovpgtwitter {
  color: black;
  background-color: rgb(231, 231, 231);;
}

.ovlktwitter {
  grid-area: ovlktw;
  color: white;
  background-color: rgb(49, 45, 69);
  margin: 10% 4% 0% 0%;
  padding:10%;
  text-align: center;
}

#light .ovlktwitter {
  color: black;
  background-color: rgb(231, 231, 231);
}

.ovpginstagram {
  grid-area: ovpgig;
  color: white;
  background-color: rgb(49, 45, 69);
  margin: 10% 4% 0% 0%;
  padding:10%;
  text-align: center;
}

#light .ovpginstagram {
  color: black;
  background-color: rgb(231, 231, 231);
}

.ovlkinstagram {
  grid-area: ovlkig;
  color: white;
  background-color: rgb(49, 45, 69);
  margin: 10% 4% 0% 0%;
  padding:10%;
  text-align: center;
}

#light .ovlkinstagram {
  color: black;
  background-color: rgb(231, 231, 231);
}

.ovpgyoutube {
  grid-area: ovpgyt;
  color: white;
  background-color: rgb(49, 45, 69);
  margin: 10% 4% 0% 0%;
  padding:10%;
  text-align: center;
}

#light .ovpgyoutube {
  color: black;
  background-color: rgb(231, 231, 231);
}

.ovlkyoutube {
  grid-area: ovlkyt;
  color: white;
  background-color: rgb(49, 45, 69);
  margin: 10% 4% 0% 0%;
  padding:10%;
  text-align: center;
}

#light .ovlkyoutube {
  color: black;
  background-color: rgb(231, 231, 231);
}

.ovpgfacebook {
  grid-area: ovpgfb;
  color: white;
  background-color: rgb(49, 45, 69);
  margin: 10% 4% 0% 0%;
  padding:10%;
  text-align: center;
}

#light .ovpgfacebook {
  color: black;
  background-color: rgb(231, 231, 231);
}

.ovlkfacebook {
  grid-area: ovlkfb;
  color: white;
  background-color: rgb(49, 45, 69);
  margin: 10% 4% 0% 0%;
  padding:10%;
  text-align: center;
}

#light .ovlkfacebook {
  color: black;
  background-color: rgb(231, 231, 231);
}

.tableauoverview {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "ovpgfb ovlkfb ovlkig ovpgig"
  "ovpgtw ovlktw ovlkyt ovpgyt";
  margin-top: -2rem;
}

.flexoverview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -5.5rem;
}

.ovupdown {
  display: flex;
  align-items: center;
}

.flexcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -2.5%;
}

#dark .hoveredsections {
  background-color: rgb(65, 60, 87);
}

#light .hoveredsections {
  background-color: rgb(199, 199, 199);
}