/*



.hoveredsections {
  background-color: rgb(122, 119, 136);
  padding: 5% 2% 3% 4%;
}*/

/*
#dark {
  background-color: black;
  color: white;
}

#light {
  background-color: white;
  color: black;
}

.switch {
  display: flex;
  width: 100vw;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.switch label {
  margin : 10px;
}

#dark .switch label {
  color:black;
}

#light .switch label {
  color:white;
}
*/